<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
</head>
<body>
	<header th:replace="frags:: header(link,link)"></header>
	
	<div class="container">
		<div class="row">
			
			<div class="text-center col-12">
				<h1 class="fw-bold">
					Best Of The Year By [[${myName}]]
				</h1>
				
				<div class="card col-4 offset-4 mt-5" >
					  <img class="card-img-top" th:src="@{/img/bestOfimg.jpg}" alt="Card image cap" >
					  <div class="card-body">
				    		<p class="card-text">
								Welcome to the ultimate compilation of the best films and songs that defined the year 2023.
								 Prepare to be immersed in a world of cinematic excellence and musical brilliance.
								  From gripping narratives to soul-stirring melodies, this curated list celebrates the outstanding contributions to the world of entertainment.
							</p>
					  </div>
				</div>				
			</div>
		</div>		
	</div>
	

</body>
</html>